body{
background:black;
color:#00ff00;
font-family:monospace;
}

.center{
width:300px;
margin:auto;
margin-top:150px;
text-align:center;
}

input{
width:90%;
padding:8px;
margin:5px;
background:black;
color:#00ff00;
border:1px solid #00ff00;
}

button{
padding:8px;
margin:5px;
background:black;
color:#00ff00;
border:1px solid #00ff00;
cursor:pointer;
}

button:hover{
background:#00ff00;
color:black;
}

#terminal{
height:400px;
overflow-y:scroll;
border:1px solid #00ff00;
padding:10px;
margin-bottom:10px;
}
